<footer fxLayout fxLayoutAlign="center center" class="footer">
  <div class="footer-content">
    <div fxLayout="column" class="footer-content__left">
      <div class="footer-content__contain__logo__large" [ngStyle]="{'width': logoLarge.width + 'px', 'height': logoLarge.height + 'px'}">
        <img class="header-content__logo__large"
             [ngSrc]="logoLarge.url ?? ''"
             alt=""
             sizes=""
             fill
        >
      </div>
      <span class="footer-content__email">
        nghia.nn260701@gmail.com
      </span>
      <span class="footer-content__policy" (click)="redirectToPrivacyPolicyPage()">
        {{ 'label.privacyPolicy'|translate }}
      </span>
    </div>
    <div class="footer-content__right" fxLayout="column" >
      <div fxLayout="row wrap">
        <div class="footer-content__item">
          <span>
            Lmao Lmao Lmao Lmao Lmao Lmao Lmao Lmao
          </span>
        </div>
        <div class="footer-content__item">
          <span>
            Lmao Lmao Lmao
          </span>
        </div>
        <div class="footer-content__item">
          <span>
            Lmao Lmao Lmao Lmao Lmao
          </span>
        </div><div class="footer-content__item">
          <span>
            Lmao Lmao Lmao Lmao
          </span>
      </div>


      </div>

      <div class="footer-content__note">
        <span>
          Mọi thông tin và hình ảnh trên website đều được sưu tầm trên Internet. Chúng tôi không sở hữu hay chịu trách nhiệm bất kỳ thông tin nào trên web này. Nếu làm ảnh hưởng đến cá nhân hay tổ chức nào, khi được yêu cầu, chúng tôi sẽ xem xét và gỡ bỏ ngay lập tức.
        </span>
      </div>

    </div>
  </div>
</footer>
