<div fxLayout="column" class="dashboard">
  <div class="dashboard-element" (click)="redirectToMangaManagePage()">
    <span>
      {{ "Quản lý danh sách truyện" }}
    </span>
  </div>
  <div class="dashboard-element" (click)="redirectToAuthorManagePage()">
    <span>
      {{ "Quản lý danh sách tác giả" }}
    </span>
  </div>
  <div class="dashboard-element" (click)="redirectToGenreManagePage()">
    <span>
      {{ "Quản lý danh sách thể loại" }}
    </span>
  </div>
  <div class="dashboard-element" (click)="redirectToUserManagePage()">
    <span>
      {{ "Quản lý người dùng" }}
    </span>
  </div>
  <div class="dashboard-element" (click)="redirectToErrorReportManagePage()">
    <span>
      {{ "Quản lý báo cáo lỗi chương truyện" }}
    </span>
  </div>
  <div class="dashboard-element" (click)="redirectToOutLawReportPage()">
    <span>
      {{ "Quản lý báo cáo sai phạm" }}
    </span>
  </div>
  <div class="dashboard-element" (click)="redirectToPrivacyPolicyManagePage()">
    <span>
      {{ "Quản lý quy định sử dụng" }}
    </span>
  </div>
  <div class="dashboard-element" (click)="logout()">
    <span>
      {{ "Đăng xuất" }}
    </span>
  </div>
</div>
