@import "src/app/front-end/component/common/color";
@import "src/app/front-end/component/common/value";

.chapter {
  background-color: $color-333333;
  padding: $value-10;
  align-items: center;
  justify-content: center;

  .chapter-detail {
    max-width: $width-large;
    width: 100%;
    padding: $value-15;
    border-radius: $value-5;

    .chapter-detail__navigation {
      background-color: $color-242526;
      border-radius: $value-5;
      padding: $value-20;
    }

    .chapter-detail__title {
      color: $color-e4e6eb;
      margin-bottom: $value-12;
      h1 {
        margin: 0;
        font-size: $value-18;
        font-weight: 600;
      }
    }

    .button-element {
      padding: $value-5 $value-10;
      cursor: pointer;
      border-radius: $value-4;
      font-size: $value-14;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: $value-8;
    }

    .button-report__error {
      background-color: $color-f0ad4e;
      color:$color-e4e6eb;
    }

    .list-button__action {
      font-weight: 400;
      margin-top: $value-12;
      .button-previous__chapter {
        color: $color-2E2E2E;
        background-color: $color-DDDDDD;
      }

      .button-next__chapter {
        color: $color-e4e6eb;
        background-color: $color-5bc0de;
      }
    }
  }

  .chapter-advertisement {
    height: $value-300;
    width: 100%;
    max-width: $width-large;
    border: 1px solid $color-e4e6eb;
    margin: $value-10 0;
  }

  .chapter-image {
    width: 100%;
    max-width: $width-large;
    justify-content: center;
    align-items: center;
    .chapter-image__element {
      position: relative;
      width: 100%;
      max-width: $value-900;
      height: auto;
    }
  }
}
