<div class="main-content__top__manga" #top_manga [ngStyle]="{height: heightMangaTop}">
  <div class="main-content__top__manga__side">
    <div class="main-content__top__manga__side-element">
      <img ngSrc="assets/images/image_large.jpg" alt="" fill priority>
      <div class="main-content__top__manga__side-info">
        <div fxLayout class="main-content__top__manga__chapter-title">
          <div class="main-content__top__manga__chapter-title-1">
            <span>
              Chapter 1
            </span>
          </div>
        </div>
        <div class="main-content__top__manga__name">
          <span>
            Lmao Lmao Lmao Lmao Lmao Lmao Lmao
          </span>
        </div>
      </div>
    </div>
    <div class="main-content__top__manga__side-element">
      <img ngSrc="assets/images/image_large.jpg" alt="" fill priority>
    </div>
  </div>
  <div class="main-content__top__manga__middle">
    <div fxLayout="column" fxLayoutAlign="center center">
      <img ngSrc="assets/images/image_large.jpg" alt="" fill priority>
      <div class="filter-middle">

      </div>
    </div>
  </div>
  <div class="main-content__top__manga__side">
    <div class="main-content__top__manga__side-element">
      <img ngSrc="assets/images/image_large.jpg" alt="" fill priority>
    </div>
    <div class="main-content__top__manga__side-element">
      <img ngSrc="assets/images/image_large.jpg" alt="" fill priority>
    </div>
  </div>
</div>
