$color-red: red;
$color-black: black;
$color-white: white;
$color-c6538c: #c6538c;
$color-18191a: #18191a;
$color-3a3b3c: #3a3b3c;
$color-b0b3b8: #b0b3b8;
$color-e4e6eb: #e4e6eb;
$color-242526: #242526;
$color-999999: #999999;
$color-cacece: #cacece;
$color-f29c57: #f29c57;
$color-126ff6: #126ff6;
$color-ff2853: #ff2853;
$color-f18121: #f18121;
$color-8bc34a: #8bc34a;
$color-bd10e0: #bd10e0;
$color-eeeeee: #eeeeee;
$color-423e3e: #423e3e;
$color-f0ad4e: #f0ad4e;
$color-5bc0de: #5bc0de;
$color-DDDDDD: #DDDDDD;
$color-2E2E2E: #2E2E2E;
