$width-large: 1200px;
$width-1000: 1000px;
$width-600: 600px;
$width-input-large: 353px;
$height-search-input-header: 42px;
$padding-search-input-header: 0px 45px 0 20px;
$limit-header-width-large: 1100px;
$limit-footer-width-large: 800px;
$value-28: 28px;
$value-20: 20px;
$value-44: 44px;
$value-160: 160px;
$value-12: 12px;
$value-13: 13px;
$value-420: 420px;
$value-52: 52px;
$value-15: 15px;
$value-16: 16px;
$value-40: 40px;
$value-5: 5px;
$value-75: 75px;
$value-10: 10px;
$value-30: 30px;
$value-36: 36px;
$value-4: 4px;
$value-250: 250px;
$value-190: 190px;
$value-125: 125px;
$value-18: 18px;
$value-300: 300px;
$value-500: 500px;
$value-8: 8px;
$value-14: 14px;
$value-900: 900px;
$value-60: 60px;
$value-650: 650px;
$value-450: 450px;
