$width-large: 1200px;
$width-input-large: 353px;
$height-search-input-header: 42px;
$padding-search-input-header: 0px 45px 0 20px;
$limit-header-width-large: 1100px;
$limit-footer-width-large: 800px;
$value-28: 28px;
$value-20: 20px;
$value-44: 44px;
$value-160: 160px;
