<div class="manga-card" fxLayout="column" fxLayoutAlign="center center">
  <div class="manga-card__image" (click)="redirectToMangaDetailPage()">
    <img src="/assets/manga/image_logo.jpg" alt="">
  </div>
  <div class="manga-card__info">
    <h3 #mangaCardName class="manga-card__name" (click)="redirectToMangaDetailPage()">
      {{ manga?.name ?? "" }}
    </h3>
    <div
      #mangaCardExpand
      class="manga-card__expand"
      fxLayoutGap="8"
      [ngStyle]="{
        left: offsetLeft,
        right: offsetRight,
        top: offsetTop,
        bottom: offsetBottom
      }"
    >
      <div>
        <span class="manga-card__expand__name">{{ manga?.otherName ?? "" }}</span>
      </div>
      <div class="manga-card__expand__status" fxLayout fxLayoutAlign="start center" fxLayoutGap="8">
        <span>{{ "Tình trạng: " }}</span>
        <span class="manga-card__expand__status-content">
          {{ "manga.status." + manga?.mangaStatus?.name |translate }}
        </span>
      </div>
      <div fxLayout fxLayoutAlign="start center" fxLayoutGap="8">
        <span>{{ "Lượt xem: " }}</span>
        <span> {{ manga?.viewManga?.numberOfViews ?? 0 | separateString }} </span>
      </div>
      <div fxLayout fxLayoutAlign="start center" fxLayoutGap="8">
        <span>{{ "Lượt theo dõi: " }}</span>
        <span> {{ manga?.numberOfFollow ?? 0 | separateString }} </span>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start center" class="manga-card__list__genre">
        <ng-template ngFor let-genreManga [ngForOf]="manga?.genreMangaList">
          <div class="manga-card__genre">
            {{ genreManga.genre?.name }}
          </div>
        </ng-template>
      </div>
      <div class="manga-card__description">
        <span> {{ manga?.description }} </span>
      </div>
    </div>
  </div>

  <ng-template [ngIf]="lastChapter">
    <span class="manga-card__last__chapter" (click)="redirectToChapterDetail(manga?.id, lastChapter.id)">
      {{ lastChapter.name }}
    </span>
  </ng-template>
</div>
