<header fxLayout="column" class="header">
  <div class="header-content" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="header-content__left" fxLayout fxLayoutAlign="space-between center" fxLayoutGap="20">
      <img class="header-content__logo__large"
           ngSrc="../../../../../assets/logo/logo-large.svg"
           alt=""
           [width]="logoLarge.width"
           [height]="logoLarge.height"
      >
      <img class="header-content__logo__short"
           ngSrc="../../../../../assets/logo/logo-short.webp"
           alt=""
           [width]="logoShort.width"
           [height]="logoShort.height"
      >
      <div class="input__relative"></div>
    </div>
    <div class="header-content__right" fxLayout fxLayoutAlign="center center" fxLayoutGap="8">
      <div (click)="handleInputShort()" fxLayout fxLayoutAlign="center center" class="header-content__search__short">
        <mat-icon class="header-content__search__short__icon" fontIcon="search"></mat-icon>
      </div>
      <button mat-raised-button color="primary">
        <span>
          {{ 'Register'|translate }}
        </span>
      </button>
      <button mat-raised-button color="primary">
        <span>
          {{ 'Login'|translate }}
        </span>
      </button>
    </div>
  </div>
  <ng-template [ngIf]="showInputShort">
    <div class="header-content__search" fxLayoutAlign="start center">
      <form [formGroup]="fromGroup" fxLayout="row" (keydown.enter)="search()" fxLayoutAlign="end center">
            <input formControlName="search" (input)="searchRealTime()" type="text" class="header-content__input" [placeholder]="placeHolder">
            <mat-icon class="header-content__search__icon" fontIcon="search"></mat-icon>
      </form>
      <app-result-search-header>

      </app-result-search-header>
    </div>
  </ng-template>

</header>
