<header fxLayout="column" class="header">
  <div class="header-content" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="header-content__left" fxLayout fxLayoutAlign="space-between center" fxLayoutGap="20">

      <div class="header-content__contain__logo__large" [ngStyle]="{'width': logoLarge.width + 'px', 'height': logoLarge.height + 'px'}">
        <img class="header-content__logo__large"
             [ngSrc]="logoLarge.url ?? ''"
             alt=""
             sizes=""
             fill
             (click)="redirectToMainPage()"
        >
      </div>

      <div class="header-content__contain__logo__short" [ngStyle]="{'width': logoShort.width + 'px', 'height': logoShort.height + 'px'}">
        <img class="header-content__logo__short"
             [ngSrc]="logoShort.url ?? ''"
             alt=""
             fill
             (click)="redirectToMainPage()"
        >
      </div>
      <div class="input__relative"></div>
    </div>
    <ng-container *ngIf="!checkAuthentication; then authButton; else auth"></ng-container>

  </div>
  <ng-template [ngIf]="showInputHeaderSearch">
    <div class="header-content__search" fxLayout="column" fxLayoutAlign="center start">
      <form [formGroup]="fromGroup" fxLayout="row" (keydown.enter)="redirectToSearchPage()" fxLayoutAlign="end center">
        <input formControlName="search"
               (click)="$event.stopPropagation()"
               (input)="searchRealTime()"
               type="text" class="header-content__input"
               [placeholder]="placeHolder"
        >
        <mat-icon class="header-content__search__icon"
                  (click)="redirectToSearchPage()"
        >
          search
        </mat-icon>
      </form>
      <ng-template [ngIf]="showResultSearchHeader">
        <app-result-search-header
          [mangaList]="mangaList"
          (resetSearching)="setSearchValueDefault()"
        >
        </app-result-search-header>
      </ng-template>
    </div>
  </ng-template>
</header>

<ng-template #authButton>
  <ng-template [ngIf]="showAuthButton">
    <div class="header-content__right" fxLayout fxLayoutAlign="center center" fxLayoutGap="8">
      <button mat-raised-button color="primary" (click)="redirectToAuthPage(AppRouter.Register)">
        <span>
          {{ 'Register'|translate }}
        </span>
      </button>
      <button mat-raised-button color="primary" (click)="redirectToAuthPage(AppRouter.Login)">
        <span>
          {{ 'Login'|translate }}
        </span>
      </button>
    </div>
  </ng-template>
</ng-template>

<ng-template #auth>
  <div class="avatar" (click)="redirectToProfilePage()">
    <img
      [lazyLoad]="urlImageProfile ?? ''"
      width="75%"
      [useSrcset]="true"
    >
  </div>
</ng-template>


