<header fxLayout="column" class="header">
  <div class="header-content" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="header-content__left" fxLayout fxLayoutAlign="space-between center" fxLayoutGap="20">
      <img class="header-content__logo__large"
           [ngSrc]="logoLarge.url ?? ''"
           alt=""
           [width]="logoLarge.width"
           [height]="logoLarge.height"
           sizes=""
           loading="lazy"
           (click)="redirectToMainPage()"
      >
      <img class="header-content__logo__short"
           [ngSrc]="logoShort.url ?? ''"
           alt=""
           [width]="logoShort.width"
           [height]="logoShort.height"
           (click)="redirectToMainPage()"
      >
      <div class="input__relative"></div>
    </div>
    <ng-template [ngIf]="showAuthButton">
      <div class="header-content__right" fxLayout fxLayoutAlign="center center" fxLayoutGap="8">
        <button mat-raised-button color="primary" (click)="redirectToAuthPage(AppRouter.Login)">
        <span>
          {{ 'Register'|translate }}
        </span>
        </button>
        <button mat-raised-button color="primary" (click)="redirectToAuthPage(AppRouter.Register)">
        <span>
          {{ 'Login'|translate }}
        </span>
        </button>
      </div>
    </ng-template>
  </div>
  <ng-template [ngIf]="showAuthButton">
    <div class="header-content__search" fxLayout="column" fxLayoutAlign="center start">
      <form [formGroup]="fromGroup" fxLayout="row" (keydown.enter)="search()" fxLayoutAlign="end center">
        <input formControlName="search"
               (click)="$event.stopPropagation()"
               (input)="searchRealTime()"
               type="text" class="header-content__input"
               [placeholder]="placeHolder"
        >
        <mat-icon class="header-content__search__icon">search</mat-icon>
      </form>
      <ng-template [ngIf]="showResultSearchHeader">
        <app-result-search-header>
        </app-result-search-header>
      </ng-template>
    </div>
  </ng-template>
</header>
