@import "src/app/front-end/component/common/color";
@import "src/app/front-end/component/common/value";

.manga-comment {

  margin-top: $value-10;

  .manga-comment__label {
    color: $color-f18121;

    .manga-comment__label__title {
      font-size: $value-18;
      line-height: $value-30;
    }
  }

  .manga-comment__list {
    padding: $value-10;
    color: $color-e4e6eb;

    .manga-content__element {

      .manga-comment__element-avatar {
        width: $value-44;
        height: $value-44;
        border: 1px solod $color-eeeeee;
        background-color: $color-white;
        border-radius: calc($value-44 / 2);
        position: relative;
      }

      .manga-comment__element-avatar img{
        border-radius: calc($value-44 / 2);
      }

      .manga-comment__element-content {
        padding: $value-10;
        background-color: $color-423e3e;
        border-radius: $value-10;
      }

      .mat-divider {
        border-top-color: $color-f18121;
      }
    }
  }
}
