<div class="chapter-list" fxLayout="column">
  <div fxLayout fxLayoutAlign="start center" fxLayoutGap="8">
    <mat-icon>storage</mat-icon>
    <span class="chapter-list__title">
      {{ "Danh sách chương" }}
    </span>
  </div>
  <div class="chapter-list__content" fxLayout="column">
    <mat-list>
      <ng-template ngFor let-chapter [ngForOf]="listChapter">
        <mat-list-item>
          <div class="chapter-list__content-element" fxLayout fxLayoutAlign="space-between center">
            <span class="chapter-list__content-title" (click)="redirectToChapterDetail(chapter.id)">
              {{ chapter.name }}
            </span>
            <span> {{ chapter.updatedAt|date:'dd/MM/yyyy' }} </span>
          </div>
        </mat-list-item>
        <div class="mat-divider__contain">
          <mat-divider></mat-divider>
        </div>
      </ng-template>
    </mat-list>
  </div>
</div>
