<div class="block-comment" fxLayout="column" fxLayoutGap="8">
  <div class="block-comment__label" fxLayout fxLayoutAlign="start center" fxLayoutGap="8">
    <mat-icon> mode_comment</mat-icon>
    <div class="block-comment__label__title">
      <span>
        {{ "Bình luận" }}
      </span>
      <span>
        {{ "(" + totalComment + ")" }}
      </span>
    </div>
  </div>

  <ng-template [ngIf]="checkToken">
    <div class="block-upload">
      <form [formGroup]="formGroup" class="input-comment" fxLayout="column">
        <mat-form-field appearance="fill">
          <mat-label>{{ "Leave a comment" }}</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            maxlength="255"
            formControlName="comment">
          </textarea>
        </mat-form-field>
      </form>
      <div class="button-element button-add" (click)="postComment()">
        <span>
          Gửi bình luận
        </span>
      </div>
    </div>

  </ng-template>

  <div class="block-comment__list" fxLayout="column" fxLayoutGap="8">
    <ng-template ngFor let-comment [ngForOf]="listComment">
      <div class="block-content__element" fxLayout fxLayoutAlign="start cenrer" fxLayoutGap="8">
        <div class="block-comment__element-avatar">
          <img
            [lazyLoad]="environment.apiBaseUrl + MiddlePrefixHandleImage.Prefix + GetImage.USER_PROFILE_LOGO + comment.user?.username"
            alt=""
            width="80%"
            [useSrcset]="true"
          >
        </div>
        <div class="block-comment__element-content" fxFlex fxLayout="column" fxLayoutGap="8">
          <div fxLayout fxLayoutAlign="space-between center">
            <div fxLayout fxLayoutAlign="start center" fxLayoutGap="8">
              <span class="block-comment__element-name">
                {{ comment?.user?.username ?? ""}}
              </span>
<!--              <div class="block-comment__element-level" [appLevelDecoration]="'8'" >-->
<!--                <span>Lmao level</span>-->
<!--              </div>-->
            </div>
            <div fxLayout fxLayoutAlign="start center" fxLayoutGap="8">
              <span> {{ comment.createdAt ?? "" | date:'dd/MM/yyyy' }} </span>
              <ng-template [ngIf]="usernameSession === (comment?.user?.username ?? '')">
                <mat-icon [matTooltip]="toolTipDeleteComment|translate"
                          class="block-comment__element-delete"
                          (click)="deleteComment(comment.id, comment.user?.id)"
                >delete</mat-icon>
              </ng-template>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div>
            <span> {{ comment.content ?? "" }} </span>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template [ngIf]="totalComment > 0">
      <mat-paginator [length]="totalComment"
                     [pageSize]="paginatorData.pageSize"
                     [showFirstLastButtons]="paginatorData.showFirstLastButtons"
                     [hidePageSize]="paginatorData.hidePageSize"
                     [pageSizeOptions]="paginatorData.pageSizeOptions"
                     (page)="paginationComment($event)"
                     aria-label="Select page"
                     #paginator
      >
      </mat-paginator>
    </ng-template>
  </div>
</div>
