<div fxLayout="column" class="manga">
  <div fxLayout="column" class="manga-content" fxLayoutGap="8">
    <div class="manga-content__info">
      <div class="manga-content__info__avatar">
        <img ngSrc="/assets/manga/image_logo.jpg" alt="" fill priority>
      </div>
      <div class="manga-content__info__other" fxLayout="column">
        <h1>
          {{ manga?.name }}
        </h1>
        <div fxLayout="column" fxLayoutGap="8">
          <div class="manga-content__info__other-content">
            <div class="manga-content__info__other-label">
              <mat-icon>add</mat-icon>
              <span>
                {{ "Tên khác" }}
              </span>
            </div>
            <span>
              {{ manga?.otherName }}
            </span>
          </div>
          <div class="manga-content__info__other-content">
            <div class="manga-content__info__other-label">
              <mat-icon>person</mat-icon>
              <span>
                {{ "Tác giả" }}
              </span>
            </div>

            <div fxLayout fxLayoutGap="8">
              <ng-template ngFor let-mangaAuthor [ngForOf]="manga?.mangaAuthorList">
                <span> {{ mangaAuthor.author?.name }} </span>
              </ng-template>
            </div>
          </div>
          <div class="manga-content__info__other-content manga-content__info__status">
            <div class="manga-content__info__other-label">
              <mat-icon> rss_feed</mat-icon>
              <span>
                {{ "Tình trạng" }}
              </span>
            </div>
            <span class="manga-content__info__status-content">
              {{ "manga.status." + manga?.mangaStatus?.name | translate }}
            </span>
          </div>
          <div class="manga-content__info__other-content">
            <div class="manga-content__info__other-label">
              <mat-icon>thumb_up</mat-icon>
              <span>
                {{ "Lượt thích" }}
              </span>
            </div>
            <span>
              {{ manga?.numberOfLikes ?? 0 |separateString }}
            </span>
          </div>
          <div class="manga-content__info__other-content">
            <div class="manga-content__info__other-label">
              <mat-icon>favorite</mat-icon>
              <span>
                {{ "Lượt theo dõi" }}
              </span>
            </div>
            <span>
              {{ manga?.numberOfFollow ?? 0|separateString }}
            </span>
          </div>
          <div class="manga-content__info__other-content">
            <div class="manga-content__info__other-label">
              <mat-icon>remove_red_eye</mat-icon>
              <span>
                {{ "Lượt xem" }}
              </span>
            </div>
            <span>
              {{ manga?.viewManga?.numberOfViews ?? 0|separateString}}
            </span>
          </div>
          <div class="manga-content__info_genre"
               fxLayout="row wrap"
               fxLayoutAlign="start center"
          >
            <ng-template ngFor
                         let-genreManga
                         [ngForOf]="manga?.genreMangaList"
            >
              <div class="manga-content__info_genre-element" (click)="redirectToGenrePage(genreManga.genre?.id)">
                <span>
                  {{ genreManga.genre?.name }}
                </span>
              </div>
            </ng-template>

          </div>
          <div class="manga-content__info__list-button">
            <div class="manga-content__info__button-element manga-content__info__button-read">
              <mat-icon>library_books</mat-icon>
              <span>
                {{ "Đọc từ đầu" }}
              </span>
            </div>
            <div class="manga-content__info__button-element manga-content__info__button-favorite">
              <mat-icon>favorite</mat-icon>
              <span>
                {{ "Theo dõi" }}
              </span>
            </div>
            <div class="manga-content__info__button-element manga-content__info__button-like">
              <mat-icon>thumb_up</mat-icon>
              <span>
                {{ "Thích" }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="column" class="manga-description">
      <div fxLayout fxLayoutAlign="start center" fxLayoutGap="8">
        <mat-icon>info</mat-icon>
        <span class="manga-description__title">
          {{ "Giới thiệu" }}
        </span>
      </div>
      <div class="manga-description__content">
        <span>{{ manga?.description }}</span>
      </div>
    </div>
    <app-chapter-list [listChapter]="manga?.chapterList ?? []"></app-chapter-list>
    <app-block-comment [commentBlockArea]="commentBlockArea"></app-block-comment>
  </div>
</div>
