<div fxLayout="column" class="manga">
  <div fxLayout="column" class="manga-content" fxLayoutGap="8">
    <div fxLayout class="manga-content__breadcrumb" fxLayoutGap="8">
      <span class="manga-content__breadcrumb-element" (click)="redirectToMainPage()">
        {{ "Trang chủ" }}
      </span>
      <span>/</span>
      <span>
        {{ manga?.name }}
      </span>
    </div>
    <div class="manga-content__info">
      <div class="manga-content__info__avatar">
        <img ngSrc="/assets/manga/image_logo.jpg" alt="" fill priority>
      </div>
      <div class="manga-content__info__other" fxLayout="column">
        <h1>
          {{ manga?.name }}
        </h1>
        <div fxLayout="column" fxLayoutGap="8">
          <div class="manga-content__info__other-content">
            <div class="manga-content__info__other-label">
              <mat-icon>add</mat-icon>
              <span>
                {{ "Tên khác" }}
              </span>
            </div>
            <span>
              {{ manga?.otherName }}
            </span>
          </div>
          <div class="manga-content__info__other-content">
            <div class="manga-content__info__other-label">
              <mat-icon>person</mat-icon>
              <span>
                {{ "Tác giả" }}
              </span>
            </div>

            <div fxLayout fxLayoutGap="8">
              <ng-template ngFor let-mangaAuthor [ngForOf]="manga?.mangaAuthorList">
                <span class="manga-content__info__other-content-author"
                      (click)="redirectToAuthorPage(mangaAuthor.author?.id)"
                >
                  {{ mangaAuthor.author?.name }}
                </span>
              </ng-template>
            </div>
          </div>
          <div class="manga-content__info__other-content manga-content__info__status">
            <div class="manga-content__info__other-label">
              <mat-icon> rss_feed</mat-icon>
              <span>
                {{ "Tình trạng" }}
              </span>
            </div>
            <span class="manga-content__info__status-content">
              {{ "manga.status." + manga?.mangaStatus?.name | translate }}
            </span>
          </div>
          <div class="manga-content__info__other-content">
            <div class="manga-content__info__other-label">
              <mat-icon>thumb_up</mat-icon>
              <span>
                {{ "Lượt thích" }}
              </span>
            </div>
            <span>
              {{ mangaFormGroup.controls["numberOfLikes"].value|separateString }}
            </span>
          </div>
          <div class="manga-content__info__other-content">
            <div class="manga-content__info__other-label">
              <mat-icon>favorite</mat-icon>
              <span>
                {{ "Lượt theo dõi" }}
              </span>
            </div>
            <span>
              {{ mangaFormGroup.controls["numberOfFollows"].value|separateString }}
            </span>
          </div>
          <div class="manga-content__info__other-content">
            <div class="manga-content__info__other-label">
              <mat-icon>remove_red_eye</mat-icon>
              <span>
                {{ "Lượt xem" }}
              </span>
            </div>
            <span>
              {{ manga?.viewManga?.numberOfViews ?? 0|separateString}}
            </span>
          </div>
          <div class="manga-content__info_genre"
               fxLayout="row wrap"
               fxLayoutAlign="start center"
          >
            <ng-template ngFor
                         let-genreManga
                         [ngForOf]="manga?.genreMangaList"
            >
              <div class="manga-content__info_genre-element" (click)="redirectToGenrePage(genreManga.genre?.id)">
                <span>
                  {{ genreManga.genre?.name }}
                </span>
              </div>
            </ng-template>

          </div>
          <div class="manga-content__info__list-button">
            <ng-container *ngIf="manga?.chapterList?.length ?? 0 > 0; then readFirstChapter">
            </ng-container>
            <ng-container *ngIf="checkAuthentication; then handleManga">
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="column" class="manga-description">
      <div fxLayout fxLayoutAlign="start center" fxLayoutGap="8">
        <mat-icon>info</mat-icon>
        <span class="manga-description__title">
          {{ "Giới thiệu" }}
        </span>
      </div>
      <div class="manga-description__content">
        <span>{{ manga?.description }}</span>
      </div>
    </div>
    <app-chapter-list [listChapter]="manga?.chapterList ?? []"
                      [mangaId]="manga?.id"
    ></app-chapter-list>
    <app-block-comment [commentBlockArea]="commentBlockArea"></app-block-comment>
  </div>
</div>

<ng-template #handleManga>
  <ng-container *ngIf="followId; then unfollowManga; else followManga"></ng-container>
  <ng-container *ngIf="likeId; then unlikeManga; else likeManga"></ng-container>
</ng-template>

<ng-template #followManga>
  <div class="manga-content__info__button-element manga-content__info__button-follow"
       (click)="createFollowManga()"
  >
    <mat-icon>favorite</mat-icon>
    <span>
      {{ "Theo dõi" }}
    </span>
  </div>
</ng-template>

<ng-template #unfollowManga>
  <div class="manga-content__info__button-element manga-content__info__button-unfollow"
       (click)="handleUnfollowManga()"
  >
    <mat-icon>close</mat-icon>
    <span>
      {{ "Hủy theo dõi" }}
    </span>
  </div>
</ng-template>

<ng-template #likeManga>
  <div class="manga-content__info__button-element manga-content__info__button-like"
       (click)="createLikeManga()"
  >
    <mat-icon>thumb_up</mat-icon>
    <span>
      {{ "Thích" }}
    </span>
  </div>
</ng-template>

<ng-template #unlikeManga>
  <div class="manga-content__info__button-element manga-content__info__button-unlike"
       (click)="handleUnlikeManga()"
  >
    <mat-icon>thumb_down</mat-icon>
    <span>
      {{ "Hủy thích" }}
    </span>
  </div>
</ng-template>

<ng-template #readFirstChapter>
  <div class="manga-content__info__button-element manga-content__info__button-read"
       (click)="redirectToFirstChapterDetailPage(manga?.chapterList?.at((manga?.chapterList?.length ?? 0) - 1)?.id)"
  >
    <mat-icon>library_books</mat-icon>
    <span>
      {{ "Đọc từ đầu" }}
    </span>
  </div>
</ng-template>
