<div fxLayout="column" class="privacy-policy-add">
  <form [formGroup]="formGroup" fxLayoutGap="16" fxLayout="column">
    <h2 class="privacy-policy-add__label">
      {{ "Thêm mới nội quy sử dụng" }}
    </h2>
    <mat-form-field>
      <mat-label>
        {{ "Câu hỏi" }}
      </mat-label>
      <input formControlName="question" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        {{ "Trả lời" }}
      </mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        maxlength="255"
        formControlName="answer">
      </textarea>
    </mat-form-field>
    <div fxLayout="row">
      <div class="button-element button-add" (click)="createPrivacyPolicy()">
        {{ "Lưu thông tin" }}
      </div>
    </div>
  </form>
</div>
