<div fxLayout="column" class="genre-add">
  <form [formGroup]="formGroup" fxLayoutGap="16" fxLayout="column">
    <h2 class="genre-add__label">
      {{ "Thêm mới thể loại" }}
    </h2>
    <mat-form-field>
      <mat-label>
        {{ "Tên thể loại" }}
      </mat-label>
      <input formControlName="name" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        {{ "Mô tả thể loại" }}
      </mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        maxlength="255"
        formControlName="description">
      </textarea>
    </mat-form-field>
    <div fxLayout="row">
      <div class="button-element button-add" (click)="createGenre()">
        {{ "Lưu thông tin" }}
      </div>
    </div>
  </form>
</div>
