<div fxLayout="column" class="genre-manage">
  <div class="top-handle" fxLayout>
    <div class="button-element button-add" (click)="redirectToAddGenrePage()">
        <span>
          Thêm thể loại
        </span>
    </div>
  </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Tên thể loại </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Mô tả </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <div class="button-element button-detail" (click)="redirectToDetailGenrePage(element.id)">
            <span>
              Chi tiết
            </span>
          </div>
          <div class="button-element button-delete" (click)="onDeleteGenre(element.id, element.name)">
            <span>
              Xóa
            </span>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
