@import "src/app/front-end/component/common/color";
@import "src/app/front-end/component/common/value";

.out-law-report-background {
  min-width: 40vw;
  border-radius: $value-8;

  .out-law-report-title {
    background-color: $color-3a3b3c;
    color: $color-e4e6eb;
    padding: $value-16 0;
    font-size: $value-18;
    font-weight: bold;
  }

  .out-law-report-description {
    font-weight: bold;
    font-size: $value-18;
    padding: $value-16;
  }
}

