/* You can add global styles to this file, and also import other style files */

@import "app/front-end/component/common/font";
@import "@angular/material/theming";

* {
  font-family: $font-project;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
