@import "src/app/front-end/component/common/color";
@import "src/app/front-end/component/common/value";

.main {
  background-color: $color-18191a;
  padding: $value-10;
  align-items: center;
  justify-content: center;
}

.main-content {
  max-width: $width-large;
  width: 100%;
  justify-content: space-between;
}

.main-content__newest__update {

}

.main-content__newest__update-title {
  font-size: $value-20;
  color: $color-e4e6eb;
  text-transform: capitalize;
}

@mixin styleHeaderWidthLarge() {

}

@media screen and (max-width: $limit-header-width-large) {
  @include styleHeaderWidthLarge()
}
