<div fxLayout="column" class="main">
  <div class="main-content" fxLayout="column" fxLayoutGap="16">
    <app-top-manga></app-top-manga>
    <div class="main-content__newest__update" fxLayout="column" fxLayoutGap="16">
      <div fxLayout fxLayoutAlign="space-between center">
        <div class="main-content__newest__update-title" fxLayout fxLayoutAlign="start center" fxLayoutGap="8">
          <mat-icon>cloud_download</mat-icon>
          <span>
          {{ "Truyện mới cập nhật" }}
        </span>
        </div>
        <button mat-mini-fab color="primary" aria-label="Filter manga" (click)="redirectToSearchPage()">
          <mat-icon>filter_list</mat-icon>
        </button>
      </div>
      <app-manga-list [mangaList]="mangaCardList"></app-manga-list>
    </div>
  </div>
</div>
